<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div class="py-3 bg-dark text-white text-center">Game</div>
      <div class="bg">
      </div>
      <div class="level" v-if="starting"><strong>Màn {{ currentLevel }}</strong></div>
      <div class="container mt-5">
        <div v-if="chooseChamp">
          <h3 class="text-center mb-4">Chọn tướng</h3>
          <div class="choose-champ">
            <div v-for="(champ, index) of champs" @click="moveToStart(champ)">
              <img :src="champ.avt" alt="" />
            </div>
          </div>
        </div>
        <div v-if="!chooseChamp" class="row text-center">
          <div class="col-4 text-center champ">
            <div class="avt mx-auto"><img :src="avt" alt="" /></div>
            <div class="mt-1 mb-3"><strong>{{ name }}</strong></div>
            <div class="heart border border-success d-flex">
              <div :style="{width: champHeart + '%'}" style="transition: 0.4s;" class="bg-success py-3"></div>
              <div :style="{width: heartChampLoss + '%' }" class="heart-loss d-flex align-items-center"><span v-show=" heartChampLoss != 0">{{- heartChampLoss }}</span></div>

            </div>
            <div> {{ champHeart }} hp</div>
            <div class="imgBg">
              <img src="./imgs/kribg.png" alt="">
            </div>
          </div>
          <div class="col-4">
            <strong>Tỉ số</strong>
            <div>{{ score.champ }} : {{ score.thanos }}</div>
            <template v-if="isLose">
              <h1 >Thua</h1>
              <div v-show="isRun">Chạy đâu cho thoát !!!</div>
            </template>
            <h1 v-if="!isLose && end">Thắng</h1>
            <div class="mt-5 count-down" v-if="isCountDown">{{ countDown }}</div>
          </div>
          <div class="col-4 text-center thanos">
            <i class="fas fa-gavel" :class="{ icon : attacking }"></i>
            <div class="avt mx-auto" :class="{ 'thanos-attack' : isThanosAttack }">
              <img src="https://ss-images.saostar.vn/w800/2019/02/02/4544689/page.jpg" alt="" />
            </div>
            <div class="mt-1 mb-3"><strong>Thanos</strong></div>
            <div class="heart border border-danger d-flex">
              <div :style="{width: thanosHeart + '%'}" style="transition: 0.4s;"  class="bg-danger py-3"></div>
              <div :style="{width: heartThanosLoss + '%' }" class="heart-loss d-flex align-items-center"><span v-show=" heartThanosLoss != 0">{{- heartThanosLoss }}</span></div>
            </div>
            <div> {{ thanosHeart }} hp</div>
            <div class="imgBg">
              <img src="./imgs/than.png" alt="">
            </div>
          </div>
          <div class="col-12 mt-5">
            <template v-if="!lv6">
              <template v-if="!starting && !isLose">
                <div>
                  <strong>Chọn màn</strong>
                </div>
               <div>
                 <div v-for="(level, index) in levels"><input type="radio" v-model="currentLevel" :value="++index" name="level" :id="index"><label :for="index">&nbsp;{{level}} viên</label></div>
               </div>
                <button @click="start" class="btn bg-dark text-white mt-4">Chiến</button>
              </template>
              <template v-if="starting && !isCountDown">
                <button class="btn btn-primary text-white" @click="champAttack()">Đập chay</button>
                <button class="btn btn-danger text-white mx-3">Chiêu cuối</button>
                <button class="btn btn-secondary text-white">Tăng tốc đánh</button>
                <button class="btn btn-success text-white mx-3">Buff máu</button>
                <button class="btn btn-warning" @click="result(true, true)">Bỏ chạy</button>
              </template>
            </template>
            <button v-if="lv6" class="btn btn-danger" @click="backHome">Xóa game</button>
            <div v-if="isLose">
              Thất bại là do chưa mua đồ
              <button class="btn btn-danger d-block mx-auto mt-3" @click="backHome">Trả thù</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://kit.fontawesome.com/8f30234327.js" crossorigin="anonymous"></script>
    <script src="./app.js"></script>
  </body>
</html>
